{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="container">
    {% for list in lists %}
        <div>
            Zagrano {{ list.Addedat | date }} <br>
            Msza {{ list.mass.Title }} <br>
            User {{ list.User.Username }}
            Pieśni:
            <ul>
                {% for playedSong in list.getPlayedSongsSong() %}
                    <li>{{ playedSong.Type }}: {{ playedSong.Song.Title }}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
