{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.title) }}

    {{ form_row(form.number) }}

    {{ form_row(form.tags) }}


    <button type="submit">Save song!</button>
    {{ form_end(form) }}

    <form action="#" id="addTagForm">
        Dodaj nowy tag
        <input type="text" id="newTag">
        <button type="submit">Dodaj nowy Tag</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addTag.js') }}"></script>

{% endblock %}